Taller PANDAS

Configuracion

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("tbl0.tsv", sep="\t")

In [3]:
df.head()

   _c0 _c1  _c2         _c3
0    0   E    1  1999-02-28
1    1   A    2  1999-10-28
2    2   B    5  1998-05-02
3    3   A    3  1999-08-28
4    4   C    6  1999-12-01

In [4]:
df.describe()

             _c0        _c2
count  40.000000  40.000000
mean   19.500000   4.750000
std    11.690452   2.715105
min     0.000000   0.000000
25%     9.750000   2.750000
50%    19.500000   5.000000
75%    29.250000   7.000000
max    39.000000   9.000000

In [5]:
## Imprima la cantidad de registros por cada letra de la columna _c1 de la tabla tbl0
df.groupby('_c1').count()

     _c0  _c2  _c3
_c1
A      8    8    8
B      7    7    7
C      5    5    5
D      6    6    6
E     14   14   14

In [6]:
##Respuesta
df.groupby('_c1').count()['_c0']

_c1
A     8
B     7
C     5
D     6
E    14
Name: _c0, dtype: int64

In [7]:
## Imprima el promedio de la _c2 por cada letra de la _c1 de la tabla tbl0
df.groupby('_c1').mean()['_c2']

_c1
A    4.625000
B    5.142857
C    5.400000
D    3.833333
E    4.785714
Name: _c2, dtype: float64

In [8]:
## Imprima el maximo de la _c2 por cada letra de la _c1 de la tabla tbl0
df.groupby('_c1').max()['_c2']

_c1
A    9
B    9
C    9
D    7
E    9
Name: _c2, dtype: int64

In [9]:
## Imprima los valores unicos e la columna _c4 de de la tabla tbl1 en mayusculas
df2 = pd.read_csv("tbl1.tsv", sep="\t")

In [10]:
df2.head()

   _c0 _c4
0    0   b
1    0   g
2    0   f
3    1   a
4    1   f

In [11]:
## Imprima los valores unicos e la columna _c4 de de la tabla tbl1 en mayusculas
df2['_c4'] = df2['_c4'].str.upper()

In [12]:
df2.head()

   _c0 _c4
0    0   B
1    0   G
2    0   F
3    1   A
4    1   F

In [13]:
## Imprima la suma de la _c2 por cada letra de la _c1 de la tabla tbl0
df.groupby('_c1').sum()['_c2']

_c1
A    37
B    36
C    27
D    23
E    67
Name: _c2, dtype: int64

In [14]:
## Imprima la suma de la _c2 por cada letra de la _c1 de la tabla tbl0
df.groupby('_c1').sum()['_c2']

_c1
A    37
B    36
C    27
D    23
E    67
Name: _c2, dtype: int64

In [15]:
## Agregue una columna  con la suma de _c0 y _c2 a la tabla tbl0.tsv 
## creo que para responder la pregunta debo crear una copia
aux = df.copy();

In [16]:
aux['suma'] = aux['_c0'].astype(int) + aux['_c2'].astype(float)
print(aux)

    _c0 _c1  _c2         _c3  suma
0     0   E    1  1999-02-28   1.0
1     1   A    2  1999-10-28   3.0
2     2   B    5  1998-05-02   7.0
3     3   A    3  1999-08-28   6.0
4     4   C    6  1999-12-01  10.0
5     5   A    7  1998-07-28  12.0
6     6   A    9  1997-02-28  15.0
7     7   B    1  1999-05-10   8.0
8     8   E    2  1997-04-12  10.0
9     9   B    3  1999-11-23  12.0
10   10   C    7  1998-01-17  17.0
11   11   C    5  1998-12-28  16.0
12   12   D    3  1999-10-15  15.0
13   13   E    8  1998-11-01  21.0
14   14   B    9  1999-08-12  23.0
15   15   D    1  1997-12-01  16.0
16   16   E    3  1997-07-28  19.0
17   17   D    5  1998-08-12  22.0
18   18   E    8  1999-08-24  26.0
19   19   E    9  1998-01-23  28.0
20   20   E    7  1999-06-22  27.0
21   21   E    3  1999-04-24  24.0
22   22   D    5  1999-06-25  27.0
23   23   A    1  1999-08-25  24.0
24   24   E    4  1997-07-26  28.0
25   25   E    6  1997-09-24  31.0
26   26   A    8  1997-09-28  34.0
27   27   E    5  1999-06-22  32.0
28   28   A    6  1999-07-29  34.0
29   29   C    0  1999-08-22  29.0
30   30   A    1  1998-04-26  31.0
31   31   D    2  1998-02-24  33.0
32   32   E    5  1999-03-24  37.0
33   33   B    4  1998-03-23  37.0
34   34   B    6  1999-04-21  40.0
35   35   D    7  1999-02-29  42.0
36   36   B    8  1997-05-21  44.0
37   37   C    9  1997-07-22  46.0
38   38   E    1  1999-09-28  39.0
39   39   E    5  1998-01-26  44.0

In [17]:
## Agregue el a√±o como una columna a la tabla tbl0.tsv
## creo que para responder la pregunta debo crear una copia
aux2 = df.copy();

In [18]:
import calendar
import datetime

In [19]:
## Construya una tabla que contenga _c1 y una lista separada por ':' de los valores de la columna _c2 para el archivo tbl0.tsv

In [20]:
New = aux2['_c3'].str.split(" ", n=1, expand = True)

In [21]:
print(New[0][0])

1999-02-28

In [22]:
aux3 = New[0].str.split("-")

In [23]:
aux2['mes'] = aux3[1]

ValueError: Length of values does not match length of index

In [24]:
## Construya una tabla que contenga _c0 y una lista separada por ',' de los valores de la columna _c4 de la tabla tbl1.tsv

In [25]:
## Construya una tabla que contenga _c0 y una lista separada por ',' de los valores de la columna _c5a y _c5b (unidos por ':') de la tabla tbl2.tsv

In [26]:
## Si la columna _c0 es la clave en las tablas tbl0.tsv y tbl2.tsv, compute la suma de tbl2._c5b por cada valor en tbl0._c1.